@font-face {
  font-family: 'icones';
  src: url(./assets/font/icones.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', 'icones', sans-serif;
}

html{
  scroll-behavior: smooth;
}

:target{
  scroll-margin-top: 70px;
}

header{
  position: fixed;
  display: flex;
  width: 100%;
  flex-direction: row;
  padding-inline: 65px;
  align-items: center;
  justify-content: space-between;
  background-color: #1b1b1b;
  height: 70px;
  z-index: 2;
}

a{
  text-decoration: none;
}

header a{
  color: #FFF;
  padding-inline: 10px;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

.container{
  background: -webkit-linear-gradient(rgb(27, 27, 27, 0.8), rgb(27, 27, 27, 0.8)) , url('./assets/back.gif');
  background-attachment: fixed;
  background-size: 100% 100vh;
  background-color: #1b1b1b;
}

.box-shadow-bottom{
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%)
}

.box-shadow-top{
  box-shadow: 2px -4px 4px -1px rgb(0 0 0 / 20%), 3px -4px 5px 0px rgb(0 0 0 / 14%), 3px -7px 10px 0px rgb(0 0 0 / 12%)
}

.box-shadow-bottom-top{
  box-shadow: 1px -4px 4px -1px rgb(0 0 0 / 20%), 3px -4px 5px 0px rgb(0 0 0 / 14%), 3px -7px 10px 0px rgb(0 0 0 / 12%), 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%)
}

.name-page a{
  font-size: 25px;
  width: 100%;
}


footer{
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent;
}

.footer-social{
  padding: 15px;
  display: flex;
}

.footer-social a{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-size: 20px;
  min-width: 40px;
  min-height: 40px;
  padding: 5px;
  margin-inline: 5px;
  border: 1px solid #FFF;
  border-radius: 50%;
}

.footer-anchor{
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;
  gap: 25px;
  padding-top: 20px;
  padding-bottom: 55px;
}

.footer-anchor a{
  color: #FFF;
}

.footer-credit{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 2px;
  background-color: #c1c1c1;
}

.footer-credit p, .footer-credit a{
  color: #1b1b1b;
  text-decoration: none;
  width: 50%;
}

.cabecalho__menu{
  display: none;
}

@media screen and (max-width: 900px) {
  
  .menu-lateral--ativo{
    left: 0;
    transition: .25s;
  }

  .container-menu{
    display: none;
  }

  .cabecalho__menu{
    background: transparent;
    border: none;
    color: #FFF;
    display: block;
    position: absolute;
    left: 25px;
  }
  
  .cabecalho__menu i::before{
    content: "\e904";
    font-size: 24px;
    font-style: normal;
    background-color: transparent;
  }
  
  .menu-lateral{
    display: flex;
    flex-direction: column;
    background-color: #1b1b1b;
    width: 75vw;
    height: calc(100% - 70px); 
    position: fixed;
    z-index: 2;
    left: -100vw;
    transition: .25s;
    bottom: 0;
    padding: 20px 10px;
    gap: 15px;
  }
  
  .menu-lateral--ativo{
    left: 0;
    transition: .25s;
  }

  .menu-lateral a{
    color: #FFF;
    padding-inline: 10px;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
  }

}


